---
description: Flutter test run del proyecto
---

ejecuta flutter analyze luego si pasa ejecuta flutter run y evalua los resultas. Realiza un parse de logs